/crashfix_service/bin
/crashfix_service/daemon/Debug
/crashfix_service/daemon/Release
/crashfix_service/daemon_tests/Debug
/crashfix_service/daemon_tests/Release
/crashfix_service/dumper/Debug
/crashfix_service/dumper/Release
/crashfix_service/dumper/dumper_vs2010.vcxproj.user
/crashfix_service/dumper_vs2010.sdf
/crashfix_service/*.suo
/crashfix_service/lib
/crashfix_service/libdumper/Debug
/crashfix_service/libdumper/Release
/crashfix_service/libdumper_tests/Debug
/crashfix_service/libdumper_tests/Release
/crashfix_service/libdumper_tests/libdumper_tests_vs2010.vcxproj.user
/crashfix_service/libtest/Debug
/crashfix_service/libtest/Release
/crashfix_service/libtest/libtest_vs2010.vcxproj.user
/crashfix_service/nsis_plugin/Debug
/crashfix_service/nsis_plugin/Release
/crashfix_service/nsis_plugin/nsis_plugin.vcxproj.user
/crashfix_service/service_installer/NSISPlugins/nsis_plugin.dll
/crashfix_service/service_installer/NSISPlugins/*.exp
/crashfix_service/thirdparty/minizip/Debug
/crashfix_service/thirdparty/minizip/Release
/crashfix_service/service_installer/NSISPlugins/*.lib
/crashfix_service/thirdparty/tinyxml/Debug
/crashfix_service/thirdparty/tinyxml/Release
/crashfix_service/thirdparty/zlib/Debug
/crashfix_service/thirdparty/zlib/Release
/crashfix_service/uploader/Debug
/crashfix_service/uploader/Release
/crashfix_service/uploader_gui/Debug
/crashfix_service/uploader_gui/Release
/crashfix_service/thirdparty/tinyxml/tinyxml_vs2010.vcxproj.user
/crashfix_service/thirdparty/zlib/*.user
/crashfix_service/uploader/*.user
/crashfix_service/uploader_gui/*.user
/doc/html
/crashfix_webapp/assets
/crashfix_webapp/nbproject
/crashfix_webapp/protected/runtime
